body {
  font-family: cerebri-sans,Helvetica,Arial,sans-serif;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 15px 0 15px;
}
.entireApp {
  border: 1px solid #ff9ac7;
  background-color: #ff9ac7;
  color: #ffdff7;
  border-radius: 5px;
  box-shadow: 9px 9px 5px #ff68ab;
  padding: 40px;
}

.weatherInfo {
  margin-top: 20px;
}

.btn {
    border-radius: 5px;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
    border: none;
    height: 50px;
    color: #ffdff7;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #FEB8EB;
    color: #ffdff7;
}

h1 {
  color: #ffdff7;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.windUnit {
    text-transform: lowercase;
}

.temperature-container {
    text-align: right;
    font-weight: 700;
    font-size: 60px;
}

#city-input {
    background: #f9f7fe;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    color: #C99FCE;
    font-size: 16px;
    height: 50px;
    line-height: 20px;
}


#unit {
    font-weight: 400;
    font-size: 28px;
}

.temperature-container .active {
    color: rgb(33, 33, 33);
    cursor: default;
    text-decoration: none;
}

#farenheit-link {
  text-decoration: none;
}

.temperature-container .active:hover {
  text-decoration: none;
}

#farenheit-link:hover {
    text-decoration: none;
}


.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(39,33,66,.4);
}

.weather-forecast-temperature-max {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.weather-forecast-temperature-min {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700px;
  opacity: 0.6;
}
