body {
  font-family: cerebri-sans,Helvetica,Arial,sans-serif;
  background: #FAF0E6;

}

h1 {
  margin: 20px 0 10px;
  color: #ffff;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  
}

footer {
  margin-top: 40px;
}


.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 15px 0 15px;
}
.entireApp {
  border: 1px solid #FFCCCC;
  background-color: #FFCCCC;
  color: #ffff;
  border-radius: 16px;
  box-shadow: 9px 9px 5px #FB86BE;
  padding: 40px;
}

#search-form {
  padding-bottom: 30px;
}

.page-line-one {
  margin-top: 0;
}

.weatherInfo {
  margin-top: 20px;
}

.btn {
    border-radius: 5px;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
    border: none;
    height: 50px;
    color: #fa86be;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #fa86be;
    color: #ffff;
}

#humidity {
  color: #FF6699;
}

#wind {
  color: #FF6699;
}

.windUnit {
    text-transform: lowercase;
}

.temperature-container {
    text-align: right;
    font-weight: 700;
    font-size: 60px;
}

#city-input {
    background: #f9f7fe;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    color: #ff9ac7;
    font-size: 16px;
    height: 50px;
    line-height: 20px;
}


#unit {
    font-weight: 400;
    font-size: 28px;
    position: relative;
    line-height: 1;
    top: -22px;
}


.weather-forecast {
  margin: 40px 0;
  text-align: center;
}

#forecast-card {
  padding: 20px;
  position: relative;
  background-color:  #e4f1fe;
  border-color: #FFCCCC;
}

#forecast-card:hover {
  background-color: #8dc6ff;
}

.weather-forecast-date {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #5c5470;

}

.weather-forecast-temperature-max {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #5c5470;
}

.weather-forecast-temperature-min {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700px;
  opacity: 0.6;
  color: #5c5470;
}

.githubLink {
  text-decoration: none;
  color: #FF6699;
}

.netlifyLink {
  text-decoration: none;
  color: #FF6699;
}